/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: SourceSansPro-Regular;
  src: url("../fonts/source-sans-pro/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: SourceSansPro-Bold;
  src: url("../fonts/source-sans-pro/SourceSansPro-Bold.ttf");
}

@font-face {
  font-family: SourceSansPro-SemiBold;
  src: url("../fonts/source-sans-pro/SourceSansPro-SemiBold.ttf");
}

@font-face {
  font-family: JosefinSans-Bold;
  src: url("../fonts/JosefinSans/JosefinSans-Bold.ttf");
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: SourceSansPro-Regular, sans-serif;
  font-size: 0.6rem;
}

/*---------------------------------------------*/
a {
  font-family: SourceSansPro-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  font-family: SourceSansPro-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}

/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder {
  color: #4b2354;
}
input:-moz-placeholder {
  color: #4b2354;
}
input::-moz-placeholder {
  color: #4b2354;
}
input:-ms-input-placeholder {
  color: #4b2354;
}

textarea::-webkit-input-placeholder {
  color: #4b2354;
}
textarea:-moz-placeholder {
  color: #4b2354;
}
textarea::-moz-placeholder {
  color: #4b2354;
}
textarea:-ms-input-placeholder {
  color: #4b2354;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: SourceSansPro-Regular;
  font-size: 16px;
  line-height: 1.4;
  color: #999999;
}

.txt2 {
  font-family: SourceSansPro-Regular;
  font-size: 16px;
  line-height: 1.4;
  color: #4b2354;
}

.hov1:hover {
  color: #4b2354;
  text-decoration: underline;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.container-login100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(0 0 0 / 50%);
  pointer-events: none;
}

.login100-form-title {
  width: 390px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  overflow: hidden;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1024%26quot%3b)' fill='none'%3e%3cpath d='M927.151%2c373.433C960.759%2c372.034%2c990.467%2c351.593%2c1005.779%2c321.643C1019.842%2c294.134%2c1011.991%2c262.91%2c997.641%2c235.55C981.862%2c205.465%2c961.12%2c171.259%2c927.151%2c171.73C893.575%2c172.196%2c876.788%2c208.396%2c859.968%2c237.459C843.1%2c266.604%2c821.389%2c298.506%2c836.306%2c328.696C852.331%2c361.13%2c891.005%2c374.937%2c927.151%2c373.433' fill='rgba(219%2c 223%2c 229%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M152.781%2c524.338C181.145%2c523.795%2c211.904%2c516.881%2c225.234%2c491.839C238.053%2c467.756%2c223.538%2c440.66%2c209.897%2c417.033C196.256%2c393.407%2c179.952%2c368.799%2c152.781%2c366.349C121.751%2c363.551%2c90.612%2c378.147%2c74.521%2c404.826C57.935%2c432.324%2c57.771%2c467.841%2c75.363%2c494.707C91.587%2c519.484%2c123.17%2c524.905%2c152.781%2c524.338' fill='rgba(219%2c 223%2c 229%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1235.789%2c525.626C1271.372%2c527.97%2c1310.986%2c524.991%2c1330.924%2c495.425C1352.738%2c463.077%2c1348.732%2c420.337%2c1329.794%2c386.225C1310.251%2c351.023%2c1275.967%2c321.445%2c1235.789%2c324.064C1198.45%2c326.498%2c1176.843%2c363.405%2c1160.858%2c397.237C1147.589%2c425.321%2c1144.485%2c457.348%2c1160.142%2c484.174C1175.676%2c510.79%2c1205.038%2c523.6%2c1235.789%2c525.626' fill='rgba(219%2c 223%2c 229%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M353.688%2c256.966C398.516%2c257.277%2c451.236%2c258.774%2c473.568%2c219.903C495.86%2c181.103%2c468.646%2c135.963%2c445.05%2c97.942C423.229%2c62.781%2c395.064%2c27.427%2c353.688%2c26.741C311.424%2c26.041%2c278.968%2c58.756%2c256.927%2c94.825C233.624%2c132.959%2c213.752%2c179.884%2c236.654%2c218.26C259.223%2c256.078%2c309.649%2c256.661%2c353.688%2c256.966' fill='rgba(219%2c 223%2c 229%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M647.75 164.17 a169.17 169.17 0 1 0 338.34 0 a169.17 169.17 0 1 0 -338.34 0z' fill='rgba(219%2c 223%2c 229%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M502.34%2c722.039C549.21%2c724.211%2c592.362%2c693.886%2c613.404%2c651.949C632.625%2c613.641%2c620.134%2c569.264%2c597.147%2c533.089C576.056%2c499.898%2c541.563%2c479.99%2c502.34%2c477.165C456.611%2c473.872%2c403.281%2c477.696%2c380.512%2c517.489C357.824%2c557.141%2c384.405%2c603.169%2c407.782%2c642.419C430.38%2c680.362%2c458.224%2c719.994%2c502.34%2c722.039' fill='rgba(219%2c 223%2c 229%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M730.6910107119684 171.19358903819096L765.4485235599495 278.16621412357995 872.4211486453386 243.40870127559876 837.6636357973573 136.43607619020977z' fill='rgba(219%2c 223%2c 229%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1460.0344386194454-16.636457787221858L1353.1287755703065 30.961010024183636 1400.7262433817118 137.8666730733226 1507.631906430851 90.26920526191711z' fill='rgba(219%2c 223%2c 229%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M377.48102335827656 71.90459999111762L284.9015229438386-60.3126289909426 152.6842939617784 32.266871423495346 245.26379437621634 164.48410040555558z' fill='rgba(219%2c 223%2c 229%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1010.202610107314 562.9086473233828L954.6777413060202 499.0345924392829 946.328555223214 618.4335161246765z' fill='rgba(219%2c 223%2c 229%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M363.69816270422416 234.79903284168915L367.59742624684225 349.59596679767606 453.6642638979472 297.8817934488886z' fill='rgba(219%2c 223%2c 229%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M810.32 403.63 a166.42 166.42 0 1 0 332.84 0 a166.42 166.42 0 1 0 -332.84 0z' fill='rgba(219%2c 223%2c 229%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M105.85 309.37 a111.67 111.67 0 1 0 223.34 0 a111.67 111.67 0 1 0 -223.34 0z' fill='rgba(219%2c 223%2c 229%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M730.9085375651225 171.62525088143946L697.6299867740571 328.18852293289376 854.1932588255114 361.4670737239592 887.4718096165768 204.90380167250484z' fill='rgba(219%2c 223%2c 229%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M894.34 405.94 a117.07 117.07 0 1 0 234.14 0 a117.07 117.07 0 1 0 -234.14 0z' fill='rgba(219%2c 223%2c 229%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1068.997%2c225.65C1113.528%2c228.458%2c1160.082%2c208.286%2c1179.961%2c168.34C1198.424%2c131.238%2c1175.817%2c90.421%2c1153.748%2c55.344C1133.615%2c23.345%2c1106.78%2c-6.694%2c1068.997%2c-8.023C1029.209%2c-9.422%2c992.283%2c14.027%2c973.252%2c48.997C954.99%2c82.554%2c961.681%2c122.136%2c979.885%2c155.724C999.169%2c191.303%2c1028.608%2c223.103%2c1068.997%2c225.65' fill='rgba(219%2c 223%2c 229%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M480.53 372.26 a107.99 107.99 0 1 0 215.98 0 a107.99 107.99 0 1 0 -215.98 0z' fill='rgba(219%2c 223%2c 229%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M595.11 344.29 a152.79 152.79 0 1 0 305.58 0 a152.79 152.79 0 1 0 -305.58 0z' fill='rgba(219%2c 223%2c 229%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1056.957%2c287.616C1081.128%2c287.818%2c1101.852%2c270.889%2c1112.722%2c249.299C1122.579%2c229.719%2c1117.383%2c207.517%2c1107.004%2c188.209C1095.881%2c167.517%2c1080.37%2c147.48%2c1056.957%2c145.56C1030.474%2c143.389%2c1002.73%2c155.135%2c990.344%2c178.644C978.547%2c201.034%2c989.583%2c226.788%2c1002.783%2c248.381C1015.247%2c268.77%2c1033.061%2c287.417%2c1056.957%2c287.616' fill='rgba(219%2c 223%2c 229%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M505.3216526595414 538.868687710012L466.07691976049585 381.46666125681304 308.67489330729694 420.7113941558586 347.9196262063425 578.1134206090576z' fill='rgba(219%2c 223%2c 229%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1024'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

/*==================================================================
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
  font-family: SourceSansPro-Bold;
  font-size: 30px;
  color: #4b2354;
  line-height: 1.2;
  text-align: center;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  background-color: #fff;
  border-radius: 20px;
}

.input100 {
  font-family: SourceSansPro-Bold;
  font-size: 16px;
  color: #4b2354;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 62px;
  background: transparent;
  padding: 0 20px 0 23px;
}

/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input100 {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  border-radius: 20px;
  box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 {
  box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: #bd59d4;
  border-radius: 25px;

  font-family: SourceSansPro-SemiBold;
  font-size: 14px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
}

.login100-form-btn:hover {
  background-color: #4b2354;
  box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -moz-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -webkit-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -o-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -ms-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate .focus-input100 {
  box-shadow: 0 5px 30px 0px rgba(250, 66, 81, 0.1);
  -moz-box-shadow: 0 5px 30px 0px rgba(250, 66, 81, 0.1);
  -webkit-box-shadow: 0 5px 30px 0px rgba(250, 66, 81, 0.1);
  -o-box-shadow: 0 5px 30px 0px rgba(250, 66, 81, 0.1);
  -ms-box-shadow: 0 5px 30px 0px rgba(250, 66, 81, 0.1);
}

.alert-validate::before {
  content: attr(data-validate);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  min-height: 62px;
  background-color: #fff;
  border-radius: 20px;
  top: 0px;
  left: 0px;
  padding: 0 45px 0 22px;
  pointer-events: none;

  font-family: SourceSansPro-Bold;
  font-size: 16px;
  color: #fa4251;
  line-height: 1.2;
}

.btn-hide-validate {
  font-family: Material-Design-Iconic-Font;
  font-size: 15px;
  color: #fa4251;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 62px;
  top: 0px;
  right: 23px;
}

.rs1-alert-validate.alert-validate::before {
  background-color: #fff;
}

.true-validate::after {
  content: "\f269";
  font-family: Material-Design-Iconic-Font;
  font-size: 15px;
  color: #57b846;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 62px;
  top: 0px;
  right: 23px;
}

/*//////////////////////////////////////////////////////////////////
[ Social item ]*/

.login100-social-item {
  font-size: 25px;
  color: #3b5998;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  margin: 5px;
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
}

.login100-social-item img {
  width: 26px;
}

.login100-social-item:hover {
  color: #3b5998;
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2);
}

/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/

@media (max-width: 480px) {
  .wrap-login100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
